.date_time-main-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.date_time-main-div div {
    display: flex;
    flex-direction: column;
}
.date_time-main-div div span:first-child{
    font-weight: bold;
}

.state {
    color: red;
}

@media screen and (max-width: 1007px){
    .date_time-main-div{
        width: 100%;
    }
    .date_time-main-div div{
        font-size: 12px;
    }
    .date_time-main-div div:first-child {
        width: 100px;
    }
}

